- @no_container = true
- @bulk_edit = can?(current_user, :admin_issue, @project)

- page_title "Issues"
- new_issue_email = @project.new_issue_address(current_user)
= content_for :sub_nav do
  = render "projects/issues/head"

- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('filtered_search')
  = page_specific_javascript_bundle_tag('issues')

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, params.merge(rss_url_options), title: "#{@project.name} issues")

- if project_issues(@project).exists?
  - if current_user
    = render "projects/issues/export_issues/csv_download"
  %div{ class: (container_class) }
    .top-area
      = render 'shared/issuable/nav', type: :issues
      .nav-controls
        = link_to params.merge(rss_url_options), class: 'btn append-right-10 has-tooltip', title: 'Subscribe' do
          = icon('rss')
        - if current_user
          %button.csv_download_link.btn.append-right-10.has-tooltip{ title: 'Export as CSV' }
            = icon('download')
        = link_to new_namespace_project_issue_path(@project.namespace,
                                                   @project,
                                                   issue: { assignee_id: issues_finder.assignee.try(:id),
                                                            milestone_id: issues_finder.milestones.first.try(:id) }),
                                                   class: "btn btn-new",
                                                   title: "New Issue",
                                                   id: "new_issue_link" do
          New Issue
    = render 'shared/issuable/search_bar', type: :issues

    .issues-holder
      = render 'issues'
      - if new_issue_email
        = render 'issue_by_email', email: new_issue_email
- else
  = render 'shared/empty_states/issues', button_path: new_namespace_project_issue_path(@project.namespace, @project)
